<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="MyPet"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPet"
        tools:targetApi="31">
        <activity
            android:name=".VaccinationCardActivity"
            android:exported="false" />
        <activity
            android:name=".ReminderCardActivity"
            android:exported="false" />
        <activity
            android:name=".PetCardActivity"
            android:exported="false" />
        <activity
            android:name=".MedicationCardActivity"
            android:exported="false" />
        <activity
            android:name=".HealthActivity"
            android:exported="false" />
        <activity
            android:name=".EditPetActivity"
            android:exported="false" />
        <activity
            android:name=".DialogVaccination"
            android:exported="false" />
        <activity
            android:name=".DialogReminder"
            android:exported="false" />
        <activity
            android:name=".DialogPet"
            android:exported="false" />
        <activity
            android:name=".DialogMedication"
            android:exported="false" />
        <activity
            android:name=".NutritionDetails"
            android:exported="false" />
        <activity
            android:name=".Nutrition"
            android:exported="false" />
        <activity
            android:name=".FeedbackDetails"
            android:exported="false" />
        <activity
            android:name=".Feedback"
            android:exported="false" />
        <activity
            android:name=".emergency"
            android:exported="false" />
        <activity
            android:name=".UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".UploadProfilePic"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".userProfile"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".EditAppointmentVe"
            android:exported="false" />
        <activity
            android:name=".EditAppointment"
            android:exported="false" />
        <activity
            android:name=".AppointmentHistoryVe"
            android:exported="false" />
        <activity
            android:name=".AppointmentHistory"
            android:exported="false" />
        <activity
            android:name=".VeterinarianAppointment"
            android:exported="false" />
        <activity
            android:name=".GroomingAppointment"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mypet.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>